{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "quoteProps": "consistent",
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always"
}
